@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:100px;" class="text-center">
    <div>
        <a asp-controller="Settings" asp-action="CreateRole">Создать роли</a>
    </div>
    <div>
        <a asp-controller="Settings" asp-action="CreateGroup">Создать группы</a>
    </div>
    
</div>
