@model SmartHub.Models.AddOrEditUserViewModel

<style>
    .btn {
        background-color: #3199ad;
        padding: 10px;
        border: none;
        cursor: pointer;
        color: #333;
    }

        .btn:hover {
            background-color: #3199ad;
            color: black;
        }

    .div-box {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: calc(100% - 22px);
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #3199ad;
        color: #333;
        border: none;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #3199ad;
            color: black;
        }

</style>
<div style="padding-top:100px;">
    <div class="div-box">
         <h2>Создание нового пользователя</h2>
            <div>
                <form id="createUserForm">
                    <label for="username">Логин:</label>
                    <input type="text" id="username" placeholder="Enter username"><br><br>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" placeholder="Enter password"><br><br>
                <button class="btn" style="background-color:#3199ad; padding:10px; border-width: 0px;" type="button" onclick="createUser()">Создать</button>
                </form>
            </div>
    </div>

    <div style="margin-top:20px;" class="div-box">
        <h2>Список пользователей</h2>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid #ccc; padding: 8px;">Логин</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Действие</th>
            </tr>
            @foreach (var item in Model.users)
            {
                <tr>
                    <td style="border: 1px solid #ccc; padding: 8px;">@item.UserName</td>
                    <td style="border: 1px solid #ccc; padding: 8px;">
                        <button class="btn" style="background-color: #3199ad; padding: 10px 10px; border: none; cursor: pointer; margin-right: 5px;" onclick="deleteUser('@item.UserId')">Удалить</button>
                        <button class="btn" style="background-color: #3199ad; padding: 10px 10px; border: none; cursor: pointer;" onclick="editUser('@item.UserId')">Изменить</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<script>
    function createUser() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        var formData = new URLSearchParams();
        formData.append('UserName', username);
        formData.append('Password', password);

        fetch('/Account/AddNewUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    alert("Пользователь успешно создан");
                } else {
                    throw new Error("Ошибка создания пользователя");
                }
            })
            .catch(error => {
                alert("Ошибка создания пользователя");
            });

         window.location.href = "/Account/AddOrEditUser";
    }

    function deleteUser(userId) {

        var formData = new URLSearchParams();
        formData.append('UserId', userId);

        fetch('/Account/DeleteUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    alert("Пользователь успешно удален");
                } else {
                    throw new Error("Ошибка удаления пользователя");
                }
            })
            .catch(error => {
                alert("Ошибка удаления пользователя");
            });

            window.location.href = "/Account/AddOrEditUser";
    }

    function editUser(userId) {
        console.log("Editing user with ID: " + userId);
    }
</script>