@model SmartHub.Models.ChangeCredentialsViewModel
<style>
    .login-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .div-box {
        width: 330px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: calc(100% - 22px);
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #3199ad;
        color: #333;
        border: none;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #3199ad;
            color: black;
        }

</style >
<div class ="login-form">
    <div class="div-box">
        <h1>Смена пароля</h1>
        <form asp-area="" asp-controller="Account" asp-action="ChangeCredentials" method="post" id="changeCredentialsForm">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" placeholder="Enter old password"/>
                <span asp-validation-for="OldPassword"></span>
            </div>
            <div>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" placeholder="Enter new password" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div>
                <label asp-for="NewPasswordSecond"></label>
                <input asp-for="NewPasswordSecond" placeholder="Re-enter the new password" />
                <span asp-validation-for="NewPasswordSecond"></span>
            </div>
            <div>
                <input type="submit" value="Изменить" />
            </div>
        </form>
    </div>
</div>
